/* Estilo base para el botón */
.button-2 {
    appearance: none;
    background-color: transparent;
    border-radius: 15px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: "bold Helvetica", bold Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 10px;
    min-width: 0;
    outline: none;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 40%;
    /* height: 10%; */
    will-change: transform;
  }
  
  /* Estilo para el botón azul (puedes cambiar este nombre según tu preferencia) */
  .button-2.purple {
    border: 2px solid #27086e;
    color: #27086e; 
    background-color: transparent;;
  }

  .button-2.purple:hover {
    color: #fff;
    background-color: #27086e;
  }
  
  /* Estilo para el botón verde (puedes cambiar este nombre según tu preferencia) */
  .button-2.green {
    border: 2px solid #11b411;
    color: #11b411; 
    background-color: transparent;
  }

  .button-2.green:hover {
    color: #fff;
    background-color: #11b411;
  }

  .button-2.blue {
    border: 2px solid #07226d;
    color: #07226d; 
    background-color: transparent;
    /* padding-right: 10px; */
  }

  .button-2.blue:hover {
    color: #fff;
    background-color: #07226d;
  }

  .button-2.orange {
    border: 2px solid #6d4107;
    color: #6d4107; 
    background-color: transparent;
    text-align: none;
    box-sizing: none;
    /* display: inline; */
    /* margin-right: 20rem; */
  }

  .button-2.orange:hover {
    color: #fff;
    background-color: #6d4107;
  }

  .button-2.fushia {
    font-size: 14px;
    width: 20%;
    padding: 20px 10px;
    border: 2px solid #790d67;
    color: #790d67; 
    font-weight: 700;
    background-color: #fafafa;
    /* justify-content: center; */
  }

  .button-2.fushia:hover {
    color: #fff;
    background-color: #790d67;
  }
  
  
  /* Agrega estilos adicionales según sea necesario */
  
  /* Estilos adicionales para el estado :disabled */
  .button-2:disabled {
    pointer-events: none;
  }
  
  /* Estilos adicionales para el estado :hover */
  .button-2:hover {
    box-shadow: rgba(9, 187, 127, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  /* Estilos adicionales para el estado :active */
  .button-2:active {
    box-shadow: none;
    transform: translateY(0);
  }

  /* Estilos para dispositivos más pequeños (menores a 600px de ancho) */
@media only screen and (max-width: 599px) {
  /* Oculta las imágenes en dispositivos móviles */
  .button-2.fushia {
    font-size: 12px;
    width: 40%;
    padding: 20px 10px;
  }
}
  