/* Estilos para el contenedor de imágenes */
.imagesContainer {
    width: 210px;
    height: auto;
    max-width: 100%;
    overflow: hidden;
    position: relative; /* Asegura que el botón de "Ver Info Extra" y otras posiciones se ajusten correctamente */
  }
  
  /* Estilos para el carrusel */
  .carousel {
    display: flex;
    transition: transform 1s ease-in-out;
    width: 100%; /* Ajusta según sea necesario */
    box-sizing: border-box; /* Evita que el padding afecte el ancho total */
  }
  
  /* Estilos para las imágenes del carrusel */
  .carousel-image {
    flex: 0 0 100%; /* Cada imagen ocupa el 100% del ancho del carrusel */
    max-width: 100%; /* Evita que las imágenes sean más grandes que el contenedor */
    height: auto;
    box-sizing: border-box; /* Evita que el padding afecte la altura total */
  }
  
  /* Resto de tus estilos... */
/* Estilos para dispositivos más pequeños (menores a 600px de ancho) */
@media only screen and (max-width: 599px) {
    /* Oculta las imágenes en dispositivos móviles */
    .imagesContainer {
      display: none;
    }
  }
  