.custom-input-cua {
    padding: 8px;
    border: 2px solid #dd408e; /* Color de borde por defecto (Rosa brillante) */

    border-radius: 5px;
    font-size: 16px;
    font-weight: bold; /* Grosor de la fuente */
    width: 100px; /* Ancho personalizado */
    text-align: center;
    outline: none; /* Eliminar el contorno al enfocar */
    /* color: #dd408e; */
    
    background-color: transparent;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.custom-input-cua:focus {
    border-color: #7c0b92; /*dd408e*/
}

.custom-input-cua:hover {
    color: #fff;
    background-color: #7c0b92; /* dd408e*/
    border-color: #7c0b92; /* dd408e*/
}
