/* Estilos generales */

/* Estilos generales */
body {
  font-size: 16px;
  font-family: "bold Helvetica", bold Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  background-color: #fcfcfc;
}

.container {
  max-width: 90%;
  margin: 20px auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.content {
  flex-grow: 1;
}

.responsive-image-left,
.responsive-image-right {
  height: auto;
  display: block;
  margin: 5px;
}

.responsive-image-left {
  max-width: 18%;
}

/* Imagen a la derecha del contenedor */
.responsive-image-right {
  display: block;
  max-width: 290px;
  height: auto;
  position: absolute;
  top: 30px; /* Ajusta la posición vertical según sea necesario */
  right: 110px; /* Ajusta la posición horizontal según sea necesario */
}

h1 {
    margin: 0;
    padding: 0px;
}

#numOptions {
    width: 50px;
}

button {
    background-color: #2177b1;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

button:hover {
    background-color: #083655;
}

/* Extra  Info Button a styles containner */
.toggleButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #bd25a3;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.toggleButton :hover {
  background-color: #4a044d;
}




.icon-button {
  display: flex;
  align-items: center;
  align-content: center;
}

.small-icon {
  width: 30px;
  height: auto;
  margin-right: 5px; /* Ajusta el margen entre la imagen y el texto según sea necesario */
}


/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* #spin {
    background-color: #2ea832;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#spin:hover {
    background-color: #053f07;
} */

canvas {
    max-width: 90%;
    margin-top: 4px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 0px;
}

input[type="number"] {
    width: 50px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #1A1A1A;
    border-radius: 10px;
}

.mobile-video {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* 
 */

 /* CSS */
 .button-28 {
   appearance: none;
   background-color: transparent;
   border: 2px solid #05572a;
   border-radius: 15px;
   box-sizing: border-box;
   color: #05572a;
   cursor: pointer;
   display: inline-block;
   font-family: "bold Helvetica", bold Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
   font-size: 18px;
   font-weight: 600;
   line-height: normal;
   margin: 0;
   min-height: 10px;
   min-width: 0;
   outline: none;
   padding: 10px 10px;
   text-align: center;
   text-decoration: none;
   transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   width: 40%;
   /* height: 10%; */
   will-change: transform;
 }
 
 .button-28:disabled {
   pointer-events: none;
 }
 
 .button-28:hover {
   color: #fff;
   background-color: #05572a;
   box-shadow: rgba(5, 102, 62, 0.25) 0 8px 15px;
   transform: translateY(-2px);
 }
 
 .button-28:active {
   box-shadow: none;
   transform: translateY(0);
 }

 /* actulaizar 
*/

/* Estilos para dispositivos de pantalla grande (mayores a 600px de ancho) */
@media only screen and (min-width: 600px) {
  /* Resto de tu código CSS para dispositivos más grandes */

  /* Imagen a la izquierda del contenedor */
  .responsive-image-left {
    display: block;  /* Asegura que la imagen esté visible */
    width: 210px;    /* Ajusta el tamaño según sea necesario */
    height: auto;
    float: left;
  }

  /* Imagen a la derecha del contenedor */
  .responsive-image-right {
    display: block;  /* Asegura que la imagen esté visible */
    width: 290px;    /* Ajusta el tamaño según sea necesario */
    height: auto;
    float: right;
  }
}

/* 
Button togle
*/
/* actulaizar 
*/
.button-23 {
  position: absolute;
  top: 10px;
  right: 10px;
  appearance: none;
  background-color: transparent;
  border: 2px solid #27086e;
  border-radius: 15px;
  box-sizing: border-box;
  color: #27086e;
  cursor: pointer;
  display: inline-block;
  font-family: "bold Helvetica", bold Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 10px;
  min-width: 0;
  outline: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10%;
  /* height: 10%; */
  will-change: transform;
}

.button-23:disabled {
  pointer-events: none;
}

.button-23:hover {
  color: #fff;
  background-color: #27086e;
  box-shadow: rgba(23, 10, 109, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-23:active {
  box-shadow: none;
  transform: translateY(0);
}

/* 
 */

 .extraInfo {
  /* display: flex; */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 70px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.image-container {
  /* flex: 1; */
  margin-left: 30px; /* Añadimos un margen izquierdo para separar los div */
}

.extraInfo p {
  font-size: 20px;
  line-height: 1.5;
  color: #1a1919;
}

.image-port {
  width: 100%;
  height: auto;
}



/* FOOTER */
footer {
  font-family: "bold Helvetica", bold Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

  background-color: #e7e7e7;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 100px;
}

.fa {
  font-family: "bold Helvetica", bold Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  padding: 10px;
  font-size: 100px;
  /* width: 90px; */
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 15px;
}

.fa:hover {
    /* opacity: 0.8; */
    background-color: #3d063f;
    border-color: rgb(42, 2, 54);
}

.fa-instagram {
  font-family: "bold Helvetica", bold Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  background: #a30ca3;
  color: white;
}


/* Estilos para dispositivos más pequeños (menores a 600px de ancho) */
@media only screen and (max-width: 599px) {
  /* Oculta las imágenes en dispositivos móviles */
  .responsive-image-left,
  .responsive-image-right {
    display: none;
  }
}


/* ESTILOS VIDEO CELULAR */
/* Estilos para dispositivos más pequeños (menores a 600px de ancho, puedes ajustar este valor según sea necesario) */
@media only screen and (max-width: 599px) {
  /* Estilos para el video en dispositivos móviles */
  video.desktop-video {
    display: none;   /* Oculta el video en dispositivos más grandes */
  }

  /* Estilos para el video en dispositivos de pantalla pequeña */
  video.mobile-video {
    display: block;  /* Asegura que el video esté visible */
    width: 100%;     /* Ajusta el ancho para ocupar todo el ancho del contenedor */
    height: auto;
  }
}

/* Estilos para dispositivos de pantalla grande (mayores a 600px de ancho, puedes ajustar este valor según sea necesario) */
@media only screen and (min-width: 600px) {
  /* Estilos para el video en dispositivos de pantalla grande */
  video.mobile-video {
    display: none;   /* Oculta el video en dispositivos móviles */
  }

  /* Estilos para el video en dispositivos más grandes */
  video.desktop-video {
    display: block;  /* Asegura que el video esté visible */
    width: 100%;     /* Ajusta el ancho para ocupar todo el ancho del contenedor */
    height: auto;
  }
}

/* aaaaaaaaaaaaaaaaaaaaa */
.title-word {
  animation: color-animation 4s linear infinite;
  font-family: "bold Helvetica", bold Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  padding: 1px 1px;
  /* --border-color: #210122; Define el color del borde negro */
  /* -webkit-text-stroke: 1px var(--border-color); Agrega un borde negro al texto */

}

.title-word-1 {
  --color-1: #9b2caa;
  --color-2: #3d45ae;
  --color-3: #9b2caa;
}

.title-word-2 {
  --color-1: #51196b;
  --color-2: #0a7c7c;
  --color-3: #38198d;
}

.title-word-3 {
  --color-1: #9b2caa;
  --color-2: #3d45ae;
  --color-3: #9b2caa;
}

.title-word-4 {
  --color-1: #51196b;
  --color-2: #a3d5e4;
  --color-3: #5d2179;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}


.transition-image {
  opacity: 1;
  transition: opacity 1s ease-in-out; /* Puedes ajustar la duración y el efecto de transición aquí */
}

.hidden {
  opacity: 0;
}