---
import Layout from "@/layouts/Layout.astro";
import ButtonsList from "@/components/Buttons_list.astro";
import Content from "@/components/Content.astro";
import Info from "@/components/Info.astro";
---

<Layout title="Saiko Ruleta" bg_color="">
	<main class="m-0">
		<h2
			id="title"
			class="text-center text-3xl py-1 pt-2 font-bold text-yellow-900 dark:text-emerald-200"
		>
			Saiko Ruleta
		</h2>
		<ButtonsList />
		<Content />
	</main>

	<!-- Archivos precargados -->
	<audio id="spinSound" src="audios/audio.mp3"></audio>
	<audio id="bell" src="audios/bell_ring.mp3"></audio>
	<img src="stefy_cyan22/tania_bruja_2.webp" alt="tania" class="hidden" />
	<audio id="cancion"></audio>

	<div class="fixed bottom-0 right-0 p-4 pr-6">
		<Info />
	</div>

	<div>
		<div class="wave"></div>
		<div class="wave"></div>
		<div class="wave"></div>
	</div>
</Layout>

<style>
	body {
		margin: auto;
		/* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
		/* overflow: auto; */
		background: linear-gradient(
			315deg,
			rgb(31, 4, 29) 0%,
			rgb(19, 7, 24) 30%,
			rgb(6, 7, 29) 60%,
			rgb(3, 28, 39) 100%
		);
		animation: gradient 15s ease infinite;
		background-size: 400% 400%;
		background-attachment: fixed;
	}

	@keyframes gradient {
		0% {
			background-position: 0% 0%;
		}
		50% {
			background-position: 100% 100%;
		}
		100% {
			background-position: 0% 0%;
		}
	}

	.wave {
		background: rgb(255 255 255 / 4%);
		border-radius: 1000% 1000% 0 0;
		position: fixed;
		width: 200%;
		height: 9em;
		animation: wave 10s -3s linear infinite;
		transform: translate3d(0, 0, 0);
		opacity: 0.8;
		bottom: 0;
		left: 0;
		z-index: -10;
	}

	.wave:nth-of-type(2) {
		bottom: -1.25em;
		animation: wave 18s linear reverse infinite;
		opacity: 0.8;
	}

	.wave:nth-of-type(3) {
		bottom: -2.5em;
		animation: wave 20s -1s reverse infinite;
		opacity: 0.9;
	}

	@keyframes wave {
		2% {
			transform: translateX(1);
		}

		25% {
			transform: translateX(-25%);
		}

		50% {
			transform: translateX(-50%);
		}

		75% {
			transform: translateX(-25%);
		}

		100% {
			transform: translateX(1);
		}
	}
</style>

<script src="@/scripts/ruleta.js"></script>
<script src="@/scripts/speech.js"></script>

