---
import Layout from '../layouts/Layout.astro';
import ButtonsList from '../components/Buttons_list.astro';
import Content from '../components/Content.astro';
---

<Layout title="Saiko Ruleta" bg_color='dark:bg-neutral-800'>
	<main class="m-0">
		<h2 class="text-center text-3xl py-1 pt-2 font-bold text-yellow-900 dark:text-emerald-200">SAIKO RULETA 3</h2>
		<ButtonsList></ButtonsList>
		<Content></Content>
	</main>


	 <!-- Archivos precargados -->
	 <audio id="spinSound" src="audios/audio.mp3"></audio>
	 <audio id="bell" src="audios/bell_ring.mp3"></audio>
	 <img src="reigen_ag/Tania2_ruleta18.webp" alt="tania" class="hidden">
	 <audio id="cancion"></audio>

</Layout>


<script src="../scripts/ruleta.js"></script>
<script src="../scripts/speech.js"></script>