---
import Layout from '../layouts/Layout.astro';
import ButtonsList from '../components/Buttons_list.astro';
import Content from '../components/Content.astro';
---

<Layout title="Saiko Ruleta">
	<main class="m-1">
		<h2 class="text-center text-3xl font-bold text-purple-900 bg-blue-50">SAIKO RULETA</h2>
		<ButtonsList></ButtonsList>
		<Content></Content>
	</main>


	<audio id="cancion"></audio>

</Layout>



<script src="../scripts/script.js"></script>
<script src="../scripts/carrusel.js"></script>
<script src="../scripts/carrusel2.js"></script>