---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<div class="my-[5px] flex h-[36px] w-[36px] items-center justify-center">
  <a href={href} target="_blank" class="transition-all hover:scale-150">
    <slot />
  </a>
</div>
