<!-- PLAY MUSIC -->
<div class="w-[36px] h-[36px] flex justify-center items-center my-[5px] cursor-pointer">
    <a id="playMusic" class="hover:scale-150 active:scale-75 mr-0.5 transition-all">
        <slot></slot>
    </a>
  </div>
