---
// interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }

// const { href, title, body } = Astro.props;
import ButtonAction from "./Button_action.astro";
import ButtonPlayMusic from "./Button_playMusic.astro";
import InstaSVG from "@/SVGs/Insta_svg.astro";
import PlaySVG from "@/SVGs/Play_svg.astro";
import GaleriaSVG from "@/SVGs/Galeria_svg.astro";
import ListSvg from "@/SVGs/List_svg.astro";
import Bingo from "@/SVGs/Bingo.astro";
---

<div class="absolute top-[10px] left-[15px] z-40 flex flex-col">
  <ButtonAction href="https://www.instagram.com/roldyoran"><InstaSVG /></ButtonAction>
  <ButtonPlayMusic><PlaySVG /></ButtonPlayMusic>
  <ButtonAction href="galeria"><GaleriaSVG /></ButtonAction>
  <ButtonAction href="animes_vistos"><ListSvg /></ButtonAction>
  <ButtonAction href="bingo"><Bingo /></ButtonAction>
</div>

<script src="@/scripts/audios.js"></script>
