---
// interface Props {
// 	svg_content: string;
// }

// const { svg_content } = Astro.props;
---

<div class="w-[36px] h-[36px] flex justify-center items-center bg-white border border-gray-300 my-[5px] rounded-lg shadow-md shadow-purple-400">
    <a  href="https://www.instagram.com/roldyoran" 
        target="_blank" 
        class="hover:scale-150 transition-all">
        <slot></slot>
    </a>
</div>