<!-- PLAY MUSIC -->
<div class="my-[5px] flex h-[36px] w-[36px] cursor-pointer items-center justify-center">
  <a id="playMusic" class="mr-0.5 transition-all hover:scale-150 active:scale-75">
    <slot />
  </a>
</div>
