---
import Imagen from "./Imagen.astro"
---
<div class="overflow-hidden">
    <div class="carousel my-6 md:w-[190px] w-[120px]  h-auto max-w-full flex transition-transform duration-1000 ease-in-out box-border">
        <Imagen src="taniaPortadaManga.webp" type=""></Imagen>
        <Imagen src="taniaCerca1.webp" type=""></Imagen>  
        <Imagen src="taniaSin.webp" type=""></Imagen>  
        <Imagen src="tania3.webp" type=""></Imagen> 
    </div>
</div>