---
import Imagen from "./Imagen.astro"
---
<div class="overflow-hidden">
    <div class="carousel2 my-6 md:w-[190px] w-[120px]  h-auto max-w-full flex transition-transform duration-1000 ease-in-out box-border">
        <Imagen src="dj_comiendo.webp" type="2"></Imagen>  
        <Imagen src="dj_picado.webp" type="2"></Imagen>
        <Imagen src="dj_comiendo.webp" type="2"></Imagen> 
        <Imagen src="dj_picado.webp"  type="2"></Imagen>
    </div>
</div>