---
// import {Image} from "astro:assets";
---

<div class="overflow-hidden">
    <div
        class="carousel my-6 md:w-[190px] w-[120px] h-auto max-w-full flex transition-transform duration-[6s] ease-linear"
    >
        <img
            src="carousel/taniaPortadaManga.webp"
            alt=""
            class="flex-0 flex-grow-0 w-full h-auto box-border rounded-lg relative"
        />
        <img
            src="carousel/taniaCerca1.webp"
            alt=""
            class="flex-0 flex-grow-0 w-full h-auto box-border rounded-lg relative"
        />
        <img
            src="carousel/taniaSin.webp"
            alt=""
            class="flex-0 flex-grow-0 w-full h-auto box-border rounded-lg relative"
        />
        <img
            src="carousel/tago2.webp"
            alt=""
            class="flex-0 flex-grow-0 w-full h-auto box-border rounded-lg relative"
        />
    </div>
</div>

<style>
    @keyframes slide {
        0%,
        20% {
            transform: translateX(0%);
        }
        25%,
        45% {
            transform: translateX(-100%);
        }
        50%,
        70% {
            transform: translateX(-200%);
        }
        75%,
        95% {
            transform: translateX(-300%);
        }
        100% {
            transform: translateX(0%);
        }
    }

    .carousel {
        animation: slide 24s infinite;
    }
</style>
