---
import Ruleta from "./Ruleta.astro";
import Carusel1 from "./Carusel-1.astro";
import Carusel2 from "./Carusel-2.astro";
---

<div class="flex items-center justify-between">
  <div class="hidden h-auto w-1/4 items-center justify-center select-none sm:flex">
    <Carusel1 />
  </div>
  <div class="w-full md:w-1/2">
    <Ruleta />
  </div>
  <div class="hidden h-auto w-1/4 items-center justify-center select-none sm:flex">
    <Carusel2 />
  </div>
</div>
