---
import Ruleta from "./Ruleta.astro";
import Carusel1 from "./Carusel-1.astro";
import Carusel2 from "./Carusel-2.astro";
---

<div class="flex justify-between items-center">
    <div class="hidden sm:flex justify-center items-center w-1/4 h-auto select-none">
        <Carusel1 />
    </div>
    <div class="w-full md:w-1/2">
        <Ruleta />
    </div>
    <div class="hidden sm:flex justify-center items-center w-1/4 h-auto select-none">
        <Carusel2 />
    </div>
</div>
