---
import Ruleta from "./Ruleta.astro";
import Carusel from "./Carusel.astro";
---

<div class="flex justify-between items-center">
    <div class="hidden sm:flex justify-center items-center w-1/4 h-auto">
        <Carusel />
    </div>
    <div class="w-full md:w-1/2">
        <Ruleta />
    </div>
    <div class="hidden sm:flex justify-center items-center w-1/4 h-auto">
        <Carusel />
    </div>
</div>
