---
import Carrousel1 from "./Carrousel_1.astro"
import Carrousel2 from "./Carrousel2.astro"
import Ruleta from "./Ruleta.astro"
---
<div class="flex justify-between items-center">
    <div class="hidden sm:flex justify-center items-center bg-green-500 w-1/4 h-auto">
       <Carrousel1></Carrousel1>
    </div>
    <div class="flex justify-center items-center bg-blue-500 w-full md:w-1/2 h-auto">
        <Ruleta></Ruleta>
    </div>
    <div class="hidden sm:flex justify-center items-center bg-red-500 w-1/4 h-auto">
        <Carrousel2></Carrousel2>
    </div>
</div>
