<span class="bg-white/10 rounded-xl p-1.5 px-2 text-white/50 text-sm relative group transition-all">
    ?
    <div class="absolute opacity-0 group-hover:opacity-100 transition-opacity duration-300 -top-20 right-0 bg-gray-950/95 text-white/90 p-2 rounded-lg text-xs w-52">
        <h1 class="font-bold tracking-widest pb-1">Comandos de voz: </h1>
        <ul class="tracking-wider">
            <li>Tania Giralo</li>
            <li>Tania Actualizalo a (2-44)</li>
            <li>Te Amo</li>
        </ul>
    </div>
</span>
