---
import Personajes from "./Personajes.astro";
---

<!-- Contenido del objeto central --><!-- Contenido del objeto central -->
<div class="grid place-items-center m-0">
  <canvas
    id="canvas"
    width="500"
    height="500"
    class="relative"
  ></canvas>

  <!-- PERSONAJE QUE GIRA LA RULETA -->
  <Personajes
    src="reigen_ag/Tania1_navidad.webp"
    id="personaje"
    z_index="z-10"
    class_name="hidden md:block  w-[240px] h-auto ml-[480px] mt-6 absolute"
    alt="Tania1_navidad"
    />

 
  <!-- PERSONAJE QUE ACOMPAÑA -->
  <Personajes
    src="reigen_ag/Tago_ruleta_navidad.webp"
    id="personaje2"
    z_index="z-10"
    class_name="hidden md:block  w-[200px] h-auto mr-[522px] mt-10 absolute"
    alt="Tago_ruleta_navidad.webp"
  />

  <!-- LEJI GIRANDO -->
  <img
    src="reigen_ag/stickers/leji_navidad.gif"
    id="personaje3"
    class="animacion-imagen hidden md:block z-20 w-[150px] h-auto mb-[550px] mr-[320px] absolute"
    alt="stick3"
  />

  <!-- Botones -->
  <div class="flex mt-1 md:mx-1 place-items-center flex-wrap">
    <!-- Cantidad en la Ruleta -->
    <label for="numOptions"></label>
    <input
      type="number"
      id="numOptions"
      min="2"
      max="44"
      value="10"
      class="py-2 m-1 text-sm md:text-base  ml-auto pl-2 border-2 font-bold text-purple-700 border-purple-700 rounded-xl bg-transparent transition-all hover:bg-purple-700 hover:text-white hover:shadow-lg hover:shadow-purple-700/50 hover:-translate-y-0.5
        dark:border-purple-900 dark:text-white dark:bg-purple-700 dark:hover:border-purple-500 dark:hover:bg-purple-950"
    />
    <!-- Actualizar la Ruleta -->
    <button
      id="updateOptiones"
      class="border-2 text-sm md:text-base ml-auto border-orange-950 font-bold text-orange-900 hover:bg-orange-950 hover:text-white hover:-translate-y-0.5 hover:shadow-lg hover:shadow-orange-800/50 transition-all rounded-xl py-2 px-4 md:px-8 active:shadow-none active:translate-y-0
        dark:border-orange-800 dark:text-white dark:bg-orange-600 dark:hover:border-orange-500"
    >
      Actualizar
    </button>
    <!-- Girar la Ruleta -->
    <button
      id="spin"
      class="border-2 text-sm md:text-base m-1 mr-auto border-purple-950 font-bold text-purple-700 hover:bg-purple-700 hover:text-white hover:-translate-y-0.5 hover:shadow-lg hover:shadow-purple-700/50 transition-all rounded-xl py-2 px-8 md:px-14 active:shadow-none active:translate-y-0
        dark:border-purple-950 dark:text-white dark:bg-purple-700 dark:hover:border-purple-500 dark:hover:bg-purple-950"
    >
      GIRAR
    </button>
  </div>
</div>



<style>
  /* Animaciones Leji chiquito girando */
  @keyframes moverDerecha {
    0% {
      left: 0;
    }
    50% {
      left: calc(100% - 200px);
    }
    100% {
      left: 0;
    }
  }

  .animacion-imagen {
    animation: moverDerecha 90s linear infinite;
  }
</style>
