---
import Personajes from "./Personajes.astro";
import Roulette from '@/components/vue/Roulette.vue'
---

<!-- Contenido del objeto central -->
<div class="grid place-items-center m-0">
  <Roulette client:load />

  <!-- PERSONAJE QUE GIRA LA RULETA -->
  <Personajes
    src="roldyoran/TaniaColegialastick1.webp"
    id="personaje"
    z_index="z-10"
    class_name="hidden md:block  w-[210px] h-auto ml-[540px] mt-8 absolute"
    alt="Tania_ruleta_DDD1"
    />

 
  <!-- PERSONAJE QUE ACOMPAÑA -->
  <Personajes
    src="roldyoran/DJ_RULETA.webp"
    id="personaje2"
    z_index="z-10"
    class_name="hidden md:block  w-[230px] h-auto mr-[522px] mt-40 absolute"
    alt="Tago_ruleta_DDD"
  />

  <!-- LEJI GIRANDO -->
  <img
    src="reigen_ag/stickers/lejiChilenoGirando.gif"
    id="personaje3"
    class="animacion-imagen hidden md:block z-20 w-[150px] h-auto mb-[550px] mr-[320px] absolute"
    alt="lejiChilenoGirando"
  />
</div>



<style>
  /* Animaciones Leji chiquito girando */
  @keyframes moverDerecha {
    0% {
      left: 0;
    }
    50% {
      left: calc(100% - 200px);
    }
    100% {
      left: 0;
    }
  }

  .animacion-imagen {
    animation: moverDerecha 90s linear infinite;
  }
</style>
