---
interface Props {
	title: string;
	bg_color: string;
}

const { title, bg_color } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Saiko Ruleta" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/ico" href="/Saiko_Ruleta/saikologo.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class={bg_color}>
		<slot/>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	@font-face {
      font-family: "WildWords";
      src: url("/src/fonts/CC_Wild_Words_Int_Roman_2.ttf") format("truetype");
      font-weight: 100;
      font-style: normal;
    }
	html {
		font-family: 'WildWords',  system-ui, sans-serif;
		/* background: #fff9fe; */
		/* margin: 0px; */
		/* background-size: 224px; */
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
